@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.cell {
  .button {
    cursor: auto;

    svg {
      transition: 0.3s;
      width: 1.5rem;
      height: 1.5rem;
    }

    @include hocus() {
      background-color: transparent;

      svg {
        color: #072659;
      }
    }
  }
}
