@import "@/sass/helpers/variables";
@import "@/sass/helpers/mixins.scss";

.link {
  transition: 0.3s;
  @include hocus() {
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
